@tailwind base;

@tailwind components;

@tailwind utilities;

.tw-tooltip {
  @apply tw-invisible tw-absolute tw-p-1 tw-rounded tw-border tw-border-gray-200 tw-bg-gray-100 tw-shadow-lg tw-mt-8 tw-text-sm;
}

.tw-has-tooltip:hover .tw-tooltip {
  @apply tw-visible tw-z-50;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin-bottom: 45px;
}

#app svg.icon-loading {
  overflow: visible !important;
}

#app.full-bleed {
  position: relative;
  z-index: 999;
  width: calc(100vw - 40px);
  left: 50%;
  margin-left: -50vw;
  right: 50%;
  margin-right: -50vw;
}

#app .mapboxgl-popup-tip {
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

#app .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
 -webkit-align-self:center;
 align-self:center;
 border-top:none;
 border-bottom-color:#fff
}
#app .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
 -webkit-align-self:flex-start;
 align-self:flex-start;
 border-top:none;
 border-left:none;
 border-bottom-color:#fff
}
#app .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
 -webkit-align-self:flex-end;
 align-self:flex-end;
 border-top:none;
 border-right:none;
 border-bottom-color:#fff
}
#app .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
 -webkit-align-self:center;
 align-self:center;
 border-bottom:none;
 border-top-color:#fff
}
#app .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
 -webkit-align-self:flex-start;
 align-self:flex-start;
 border-bottom:none;
 border-left:none;
 border-top-color:#fff
}
#app .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
 -webkit-align-self:flex-end;
 align-self:flex-end;
 border-bottom:none;
 border-right:none;
 border-top-color:#fff
}
#app .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
 -webkit-align-self:center;
 align-self:center;
 border-left:none;
 border-right-color:#fff;
}
#app .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
 -webkit-align-self:center;
 align-self:center;
 border-right:none;
 border-left-color:#fff
}
